# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Python packaging
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# VSCode workspace settings
.vscode/

# Local .env files
.env